<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  
  <!-- Display Name: permette di visualizzare il nome della nostra applicazione web -->
  
  
  <display-name>TecWebTemplate</display-name>
  
  
  <!-- Servlet: permette di unire dare un nome logico ad ogni classe di Servlet -->
  
  
  <servlet>
    <servlet-name>ServletRegistration</servlet-name>
    <servlet-class>it.tecwebtemplate.servlets.ServletRegistration</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>it.tecwebtemplate.servlets.ServletLogin</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ServletWait</servlet-name>
    <servlet-class>it.tecwebtemplate.servlets.ServletWait</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ServletJson</servlet-name>
    <servlet-class>it.tecwebtemplate.servlets.ServletJson</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ServletSuggest</servlet-name>
    <servlet-class>it.tecwebtemplate.servlets.ServletSuggest</servlet-class>
  </servlet>
   
   
  <!-- ServletMapping: permette di assegnare il nome logico di una Servlet ad uno specifico URL -->


  <servlet-mapping>
    <servlet-name>ServletRegistration</servlet-name>
    <url-pattern>/servletRegistration</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/servletLogin</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletWait</servlet-name>
    <url-pattern>/servletWait</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletJson</servlet-name>
    <url-pattern>/servletJson</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletSuggest</servlet-name>
    <url-pattern>/servletSuggest</url-pattern>
  </servlet-mapping>
  
  
  <!-- Welcome File List: indica quale file verra' lanciato quando viene avviata l'applicazione web -->
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- Error Page: indica  le pagine che verranno lanciate in caso di errori -->
  
  
  <error-page>
    <error-code>404</error-code>
    <location>/error/notfound.html</location>
  </error-page>
  
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/error/failure.jsp</location>
  </error-page>
  
</web-app>